<!DOCTYPE html>
<html lang="en" ng-app="Clog" ng-controller="main">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Tavern">

  <title>Hello Phoenix!</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  <script id="vs" type="x-shader/x-vertex">
    varying vec2 vUv; void main() { vUv = uv; gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 ); }

  </script>

  <script id="fs" type="x-shader/x-fragment">
    uniform sampler2D map; varying vec2 vUv; void main() { float depth = gl_FragCoord.z / gl_FragCoord.w; gl_FragColor = texture2D( map, vUv ); gl_FragColor.w *= pow( gl_FragCoord.z, 20.0 ); }

  </script>
</head>

<body>
  <%=@ inner %>
    <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      require("web/static/js/app")
      require('web/static/js/init')
      require('web/static/js/cloud')
    </script>
</body>
<footer class="text-center">
  Tavern &copy; 2015

</footer>

</html>
