<img id="logo" src="/images/tavern.jpg" class="center-block img-circle">

<div class="container">
    <div class="row" id="header">
    </div>
    <div class="row" id="wrap" ng-view>
        <div id="content" class="col-lg-10 col-lg-offset-1">

            <div id="disqus_thread"></div>
        </div>
    </div>
</div>

<div id="mask">
</div>
