{lib_dirs,["d:/Elixir.bat/lib",
           "c:/Users/Tavern/ElixirProjects/Clog/_build/dev"]}.

{release,{clog,"0.0.1"},[{clog,"0.0.1"},elixir,iex,sasl]}.

{include_erts,true}.

{include_src,false}.

{extended_start_script,true}.

{generate_start_script,false}.

{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot","bin/clog"},
          {copy,"c:/Users/Tavern/ElixirProjects/Clog/_build/dev/consolidated",
                "lib/consolidated"}]}.

