[{sasl,[{errlog_type,error}]},
 {clog,
     [{'Elixir.Clog.Endpoint',
          [{url,[{host,<<"localhost">>}]},
           {secret_key_base,
               <<"eIufc8BCd7zHwO6JTbJKoov7hOtNkECj2xhniMonmAbxDdOnjTM45Xtj3WDKZ67Z">>},
           {debug_errors,true},
           {pubsub,
               [{name,'Elixir.Clog.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,4000}]},
           {cache_static_lookup,false},
           {watchers,
               [{<<"node">>,
                 [<<"c:/Users/Tavern/ElixirProjects/Clog/node_modules/brunch/bin/brunch">>,
                  <<"watch">>]}]},
           {live_reload,
               [<<"c:/Users/Tavern/ElixirProjects/Clog/priv/static/js/app.js">>,
                <<"c:/Users/Tavern/ElixirProjects/Clog/priv/static/css/app.css">>,
                <<"c:/Users/Tavern/ElixirProjects/Clog/web/templates/**/*.eex">>]}]},
      {'Elixir.Clog.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"clog_dev">>}]}]},
 {logger,
     [{console,[{format,<<"[$level] $message\n">>},{metadata,[request_id]}]}]},
 {phoenix,[{code_reloader,true}]}].
